.cart_counter {
  border-radius: 50%;
  position: absolute;
  color: white;
  width: 18px;
  height: 18px;
  top: 0;
  font-size: 11px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -5px;
  background-color: var(--primary-orange);
}

.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
  overflow: auto;
  flex: 1;
  &_items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    max-height: 100%;
  }

  .order {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px 16px 0 0;
    background: white;
    padding: 20px 20px;
    align-self: stretch;
    margin-top: auto;
    &_link {
      font-size: 14px;
      background-color: var(--primary-orange);
      color: white;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      border-radius: 30px;
    }
  }

}

.product {
  flex: 0 0 auto;
}

.reg {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 5px;
  button {
    padding: 10px 10px !important;
  }
}