.tag {
  border-radius: 16px;
  background-color: #363636;
  height: 25px;
  min-width: 60px;
  padding: 0 9px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  line-height: 12px;
  color: white;
  font-weight: 600;
  position: relative;
  span {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--primary-orange);
    padding-top: 2px;
    position: absolute;
    left: 2px;
    transform: translateY(-50%);
    top: 50%;
  }
  svg {
    width: 16px;
    height: 14px;
    path {
      stroke: white;
      fill: white;
    }
  }
}