.slide {
  background: white;
  border-radius: 16px;
  width: 100%;
  height: 150px;
  padding: 14px 20px;
  color: white;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  transform: translate3d(0, 0, 0); // Аппаратное ускорение
  backface-visibility: hidden;

  // Стили для Next.js Image фона
  .slide_bg {
    object-fit: cover;
    border-radius: 16px;
    position: absolute !important; // Важно для Next.js Image с fill
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  // Контейнер для стикера
  .slide_image_container {
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;

    &.right {
      right: 30px;
      transform: rotate(25deg);
    }

    &.left {
      left: 30px;
      transform: rotate(-25deg);
    }
    
    &.center {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // Стили для самого изображения стикера
  .slide_image {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    position: relative !important;
    object-position: left;
  }

  h3 {
    background: rgb(33 33 33 / 66%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.6px);
    -webkit-backdrop-filter: blur(24.6px);
    border: 1px solid rgba(255, 253, 250, 0.3);
    padding: 5px 12px;
    z-index: 2;
    font-size: 14px;
    position: absolute; // Убедитесь, что z-index работает
    top: -35px;
    width: 100%;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.description {
  top: 10px;
  margin-right: 10px;
  max-width: 140px;
  font-size: 14px;
  padding: 15px 10px;
  margin-left: auto;
}