.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;
  .btn {
    color: var(--primary-orange);
    border: none;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 22px;
    right: 20px;
  }

  &_title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
  }



  &_info {
    width: 100%;
    background-image: url('/images/background.svg');
    background-color: #282C32;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 40px 40px 0 0;
    position: relative;
    max-height: 87% !important;
    box-shadow: none !important;
    background-color: transparent !important;

    // Стили для выдвижного листа
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 50%;
      transform: translateX(-50%);
      width: 18px;
      height: 4px;
      background: var(--primary-orange);
      border-radius: 2px;
    }

    &_wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      margin-top: 40px;
      background-color: #282C32;
    }

    &_top {
      margin-bottom: 15px;
      flex: 1;
      overflow-y: auto;
      color: white;
      padding: 0 10px 19px 10px;
      max-height: 100%; // Ограничиваем высоту для скролла
      padding: 20px;

      // Стили для контента внутри
      &>div {
        padding-bottom: 20px;
        color: white;
      }
    }

    &_bottom {
      // position: absolute;
      // bottom: 0;
      width: 100%;
      background-color: #282C32;
      display: grid;
      border-radius: 20px 20px 0 0;
      bottom: 0;
      z-index: 99999999999;
      grid-template-columns: 1fr 2fr;
      gap: 15px;
      padding: 15px 10px 10px 10px;
      padding-bottom: 30px;

      &_price {
        color: #9CA0AF;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        span {
          font-size: 16px;
          font-weight: 800;
          color: white;
        }
      }

      &_cart {
        background-color: var(--primary-orange);
        color: white;
        font-weight: 600;
        width: 100%;
        height: 48px;
        font-size: 14px;
        border-radius: 23px;
        border: none;
        cursor: pointer;

        &:disabled {
          background-color: #f89633cc;
          pointer-events: none;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  &_slide {
    position: relative;
  }

  .swiper {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
  }

  .wrapper_swiper {
    height: auto !important;

  }

  .image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// Стили для react-modal-sheet
.react-modal-sheet-backdrop {
  // background-color: rgba(0, 0, 0, 0.5) !important;
}

.react-modal-sheet-container {
  border-radius: 40px 40px 0 0 !important;
  background: transparent !important;
}

.react-modal-sheet-header {
  height: auto !important;
  background: transparent !important;

  // Скрываем стандартный индикатор drag, т.к. мы добавили свой
  &::after {
    display: none;
  }
}

.react-modal-sheet-content {
  padding: 0 !important;
  background: transparent !important;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 40px;

  &_close {
    color: var(--primary-orange);
    border: none;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 22px;
    left: 20px;
  }
}