.slider {
  &_wrapper {
    width: 100%;
    margin: 60px 0;
  }
}

.swiper {
  overflow: visible;

  &_pagination {
    bottom: -18px !important;
    display: flex;
    justify-content: center;
    gap: 2px;
    &_bullet {
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      background-color: rgb(62, 62, 62);
      opacity: 0.5;
      transform: scale(0.46);
      transition: transform .15s;
    }
    &_active {
      background-color: white;
      opacity: 1;
      transform: scale(1) !important;
      margin-left: 2px !important;
      margin-right: 2px !important;
    }
  }
}