.slider {
  &_wrapper {
    width: 100%;
    // margin: 60px 0;
    margin-bottom: 30px;
  }
}

.swiper {
  overflow: visible;

  &_pagination {
    bottom: -18px !important;
    display: flex;
    justify-content: center;
    gap: 2px;
    &_bullet {
      width: 13px;
      height: 13px;
      display: block;
      border-radius: 50%;
      background-color: var(--primary-orange-light);
      opacity: 0.5;
      transform: scale(0.46);
      transition: transform .15s;
    }
    &_active {
      background-color: var(--primary-orange);
      opacity: 1;
      transform: scale(1) !important;
      margin-left: 2px !important;
      margin-right: 2px !important;
    }
  }
}