.profile {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  border-radius: 10px;
  position: relative;
  svg {
    width: 22px;
    height: 22px;
  }

  svg path {
    stroke: #a4a4a4;
    fill: #a4a4a4;
  }

}