.button {
  width: 100%;
  position: absolute;
  bottom: -60px;
  background: linear-gradient(240.36deg, #9562F6 16.12%, #B491F5 42.12%, #9562F6 68.13%);
  left: 0;
  border-radius: 20px;
  padding: 12px 0;
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: ease .2s;

  &:active {
    transform: scale(0.95);
  }

  &.end {
    position: static;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    width: auto;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(45deg, #74b9ff, #0984e3);
    border: none;
    border-radius: 25px;
    padding: 12px 35px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .3s;
    box-shadow: 0 5px 15px rgba(116, 185, 255, .4);
  }
}